<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading hidden">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.author %}
          <li>
              {{ site.author | escape }}
          </li>
            {% endif %}
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.twitter_username %}
            <li>
            {% include icon-twitter.html username=site.twitter_username %} /// <a rel="nofollow" href="https://writerror.com/writerror.gpg.asc">writerror@riseup</a> <span class="hidden">/// <a rel="nofollow" href="https://writerror.com/assets/xmr-41nuCqFdJVN7mxP5rgqpigESoGc1qAPAy1qVXxE4iW3MLz2pVrVteKLEHoYgAH7imL5E6QtMDmvBaZJR6rn3naaETFZnrgd.png">monero</a></span>
            </li>
            {% endif %}
            {% if site.github_username %}
            <li>
            {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3 text-right">
        <span>{{ site.description | escape }} &#9733;</span>
      </div>
    </div>

  </div>

</footer>
