---
layout: default
---

<div class="home">

  <h1 class="page-heading hidden">Texts</h1>

  {{ content }}

  <ul class="post-list">

    <li data-sort="2018101170332" class="post-entry special splash">
      <div class="post-home-thumb float-left">
        <h2 class="invisible">writerror: to the reader</h2>
        <p class="quote">
          <q>I am an anti-organization anarchist because I oppose all forms of authority and organizational constraints. I am nihilist because I live my anarchy today and not in waiting for a revolution, which – if it ever came about – would only produce more authority, technology, civilization. I live my anarchy with ease, joy, pleasure, without any spirit of martyrdom, by opposing this civilized existent with all my strength, an existent I cannot bear. I am antisocial because I am convinced that society can only exist in the differentiation between the dominant and the dominated. I do not strive for any future blissful socialist alchemy, I do not trust any social class; my revolt without revolution is individual, existential, overpowering, absolute, armed.</q>
          <span class="author">—Alfredo Cospito</span>
        </p>
      </div>
      <div class="clearfix"></div>
    </li>

    {% for post in site.posts %}
    {% if post.exclude == true %}
      <!--exclude-->
    {% else %}
      <li class="post-entry {% if post.type == 'special' %}special{% endif %}" data-sort='{{ post.date | date: "%Y%-m%d%H%M%S" }}'>
		<div class="post-home-thumb float-left" style="background-image:url('{% if post.thumbnail %}{{ post.thumbnail }}{% endif %}');"><a class="post-link" href="{{ post.url | relative_url }}"></a></div>
		<div class="post-home-content">
			<span class="post-meta text-small invisible">Added on {{ post.date | date: "%Y.%m.%d" }}</span>

			<h2>
			  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}{% if post.sub-title %}: <span class="subtitle">{{ post.sub-title | markdownify | remove: '<p>' | remove: '</p>' | rstrip }}</span>{% endif %}</a>
			  <span class="author">by {{ post.author }}</span>
			</h2>
      <p>
  			{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>'}}&hellip;
      </p>
		</div>
		<div class="clearfix"></div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="clearfix"></div>

  <p class="rss-subscribe hidden">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
