---
layout: default
---

<div class="home">

  <h1 class="page-heading"><span class="hidden">Posts</span></h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
		<p>
			{{ post.excerpt }}&hellip;
		</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe hidden">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
